body {
  background-image: url(stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

header a {
  font-size: 1.1em;
}

header a:hover {
  color: silver !important;
}

.container > p, h2 {
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 2px 2px #00000054;
}

#work, #school {
  color: white;
  border-bottom: white 2px dotted;
}

.accordion-item, .accordion-button {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

.accordion-button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

#accordionFlush1 {
  margin-bottom: 3em;
}

#workInfo {
  margin-top: 10%;
}

#who, #contact, .btn-light {
  margin: 2em;
}

.row {
  margin-top: 4em;
  color: white;
}

.container > .column {
  color: white;
}


#welcome {
  position: inherit;
  margin-top: 14rem;
}